

<div id = 'background_plain' class = 'bold'>
Thank you for ordering from CITIZEN. We will be contacting you shortly to confirm
your order. Please check your email and make sure that everything is correct and contact us if there is a problem.
Thanks again from the CITIZEN crew!
</div>
