

<div id = 'background_plain' class = 'bold'>
		<p id = 'thank_you'>Thank you for ordering from Citizen. We will be contacting you shortly to 
			confirm your order via phone. All boxed lunches come with one entree, 
			one side dish, one dessert and cutlery kit. Deliveries in our designated 
			areas will be brought to you by Quickness RVA.  
			Orders placed after 5 P.M. may require additional time to confirm or prepare. 
			Thanks again from the Citizen crew. Enjoy your lunch!</p>
</div>
