
<style type="text/css"></style> 
<div class = 'span12 no_outline'>
	<%= image_tag 'citizen_print.png'%>

</div>
<div class = 'lg_text bold '>
		Citizen <br>
</div>
<div class = ' bold '>		
		909 E. Main St <br>
		Richmond VA, 23219 <br>
		804-780-9038<br>
		citizenrva@verizon.net<br>
</div>
<br>
<hr>
<%= render 'orders/show' %>