
<div>
<ul class = 'polaroids'>
	<% unless @gallery.nil? %>
		<% @photos.each do |p|  %>
			<li>
				<a title="<%= p.caption%>"><%= image_tag(p.image.url) %></a>
 			</li>  
		<%end%>
  	<%end%>
</ul>
</div>
<div id = 'pagin'>
	
	<%= paginate @photos %>

</div>