.map_container {
  padding: 6px;
  border-width: 1px;
  border-style: solid;
  border-color: #ccc #ccc #999 #ccc;
  -webkit-box-shadow: 0 2px 5px #888;
  -moz-box-shadow: 0 2px 5px #888;
  box-shadow: 0 2px 5px #888;
 min-width: 475px;
}

.gmaps4rails_map {
  width: 475px;
  height: 450px;
}

#larger.gmaps4rails_map{
	width:500px;
	height:500px;
	
	
}
.mark_img img{
	display:inline-block;
	padding:0 17px 5px 0;
	background:url("ms2.png") 100% 50% no-repeat; 
	vertical-align:top;
} 

#larger  .map_container {
  padding: 6px;
  border:none;
  box-shadow:none;
  width: 600px;
  position:relative;
  height:400px;

}

#instructions.order_instruct{
	width:500px;

	font-size:18px;
}
#instructions{
	width:40%;
}
#adp-placemark, .adp-placemark{
	border:none;
	background:none;
}
