// Place all the styles related to the orders controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
#background{
  width:75%;
  background:url('paper.jpg')center center fixed no-repeat;
 -moz-background-size: cover;
  background-size: cover;
  margin:0 auto;
  padding:28px;
  z-index:1;
  color:black; 
  -webkit-box-shadow:0 0 15px rgba(0,0,0,0.6);
  -moz-box-shadow:0 0 15px rgba(0,0,0,0.6);
  box-shadow:0 0 15px rgba(0,0,0,0.6);
  -moz-border-radius:10px / 100px;
  border-radius:10px / 100px;
  min-height:600px;
}
abbr, accronym{ border-bottom: 0px; }   

#review{
  position:relative;
  width:70%;
  margin:auto;
  
}
#thank_you{
  font-size:16px;
  padding-bottom:25px;
}
#thumbtack{
  position:relative;
  width:40px;
  top:-40px;
  left:45%;
  margin-bottom:-40px;
}
form{
  font-family:Georgia;
}
form h2{
  width:100%;
  text-align:left;

  color:#e10052;
  padding-top:15px;
}
form p{
  position:relative;
  display:inline-block;
  width:90%;
  line-height:18px;
  padding:0;
  top:-7px;
}
#quantity{
  width:45px;
  font-size:9px;
  position:relative;
  left:-4px;
  font-weight:bold;
  color:#e10052;
}
#background form hr{
  border: 4px solid #e10052;

}


.receipt_marg{
  font-size:100%;
 
}
#orders{
  margin-top:20px;
}

#orders td.ul {
  width:70%;  
  border-bottom:1px solid #999999;
}
 #orders td.nl{
  border-bottom:none;
 
}
#orders_receipt{
  width:25%;
  float:right;
  margin-right:90px;
 
}
.position_buttons{
 
  position:relative;
  width:100%;
  display:block;
  clear:both;
}
#orders_receipt tr td{
  text-align:right;

}
#orders_receipt td.ul{
  border-bottom:1px solid #999999;
}
#lhead{
  width:25%;
  margin:45px auto 0 auto;
  font-size:21px;
} 
#lhead_base{
  font-size:17px;
  margin-bottom:45px;
} 

.oname{
  color: #e10052;
  font-size:18px;
  font-weight:800;
}
.odesc{
  color:#e10052;
  font-size:16px;
  font-weight:600;
}

#background .simple_form input,
#background .simple_form textarea{
  border:2px solid #e10052;
  padding:4px;
  font-weight:bold;
}

#background .simple_form label{
  color:#e10052;
  font-size:17px;
  font-weight:bolder;
 
}
#background .simple_form div.boolean, #background .simple_form input[type="submit"] {
    margin-left: 20px;
    color:#e10052;
    font-weight:bold;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0; 
}
 