// Place all the styles related to the orders controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
#background{
  width:75%;
  background:url('paper.jpg')center center fixed no-repeat;
 -moz-background-size: cover;
  background-size: cover;
  margin:0 auto;
  padding:28px;
  z-index:1;
  color:black; 
  -webkit-box-shadow:0 0 15px rgba(0,0,0,0.6);
  -moz-box-shadow:0 0 15px rgba(0,0,0,0.6);
  box-shadow:0 0 15px rgba(0,0,0,0.6);
  -moz-border-radius:10px / 100px;
  border-radius:10px / 100px;
  min-height:600px;
}

#thumbtack{
  position:relative;
  width:40px;
  top:-40px;
  left:45%;
  margin-bottom:-40px;
}
form{
  font-family:Georgia;
}
form h2{
  width:100%;
  text-align:left;

  color:#e10052;
  padding-top:15px;
}
form p{
  position:relative;
  display:inline-block;
  width:90%;
  line-height:18px;
  padding:0;
  top:-7px;
}
#quantity{
  width:45px;
  font-size:9px;
  position:relative;
  left:-4px;
  font-weight:bold;
  color:#e10052;
}
#background form hr{
  border: 4px solid #e10052;

}
.split_l{
  display:inline-block;
  width:46%;
  vertical-align:top;
}
.split_r{
  display:inline-block;
  width:49%;
  vertical-align:top;
  font-size:20px;
 
}
.split_2{
  position:relative;
  margin-top:20px;
}
.split_short{
  width:35%;
  margin-right:7%;
}
#box{
  width:18px;
  height:18px;
  outline:1px solid black;
  display:inline-block;
  margin-right:6px;
}
#orders td.ul{
  width:60%;  
  background-color:#eeeeee;

}
#orders td{
  text-align:right;
  height:30px;
}
.big_print{
  font-size:17px;
  font-weight:normal;
}

.oname{
  color: #e10052;
  font-size:18px;
  font-weight:800;
}
.odesc{
  color:#e10052;
  font-size:15px;
  font-weight:600;
}

#background .simple_form input,
#background .simple_form textarea{
  border:4px solid #e10052;
  padding:4px;
  font-weight:bold;
}

#background .simple_form label{
  color:#e10052;
  font-size:17px;
  font-weight:bolder;
 
}
#background .simple_form div.boolean, #background .simple_form input[type="submit"] {
    margin-left: 20px;
    color:#e10052;
    font-weight:bold;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0; 
}
