@media print {
body {
    width:8.5in;
    height:11in;
    margin:0; 
    padding:0; 
    line-height: 3em; 
    word-spacing:2px; 
    letter-spacing:0.4px; 
    font: 17pt Arial, Helvetica,"Lucida Grande", serif; 
    color: #000;
    }
    
#admin_links, #admin, #hmenu, #media_links, .bottombar {
display: none;
}
 
.page_break{
	page-break-after:always;
 
	}
 #orders{
  margin-top:20px;
}

#orders td.ul {
 
  border-bottom:1px solid #999999;
}
 #orders td.nl{
  border-bottom:none;
 
}
#orders_receipt{
  width:45%;
  float:right;
  margin-right:90px;
}
#orders_receipt tr td{
  text-align:right;

}
#orders_receipt td.ul{
  border-bottom:1px solid #999999;
}
 

#lhead{
 
  margin:65px auto 0 auto;
  font-size:120%;
} 
#lhead_base{
  font-size:110%;
  margin-bottom:45px;
}
	
	
	
}